ion-header {
  --padding-start: 16px;
  --padding-end: 16px;
  padding-top: 16px;

  
}

ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  
}

ion-select {
  --padding-start:16px;
  --padding-end: 16px;
  --placeholder-color: #070e76;
  font-weight: bold;
  
}
